.workCard {
	font-size: 1em;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	padding: 0.5em;
	margin: 0.5em 0 0;
}

.workCard__name {
	margin: 0 0 0.5em;
}

.workCard__book {
	font-size: 0.8em;
	color: #696969;
	margin: 0;
}

.workCard__event {
	font-size: 0.8em;
	color: #FFF;
	margin: 0.25em 0 0;
	background-color: #D32F2F;
	border-radius: 0.5em;
	padding: 0.25em 0.5em;
	display: inline-block;
}

/*.tadleOfWorks {
	border: 1px solid #999;
	border-collapse: collapse;
	font-size: 1em;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.tadleOfWorks__td {
	border: 1px solid #999;
}*/