.userBox {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.userBox_name {
	margin: 2px 0;
	font-size: 1em;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.userBox_email {
	margin: 2px 0;
	font-size: 0.8em;
	color: #696969;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.userBox_exit {
	margin: 0.5em 0;
	font-size: 1em;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	text-decoration: underline;
	cursor: pointer;
}

.spaceCard {
	font-size: 1em;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	padding: 0.5em;
	margin: 0.5em 0 0;
	cursor: pointer;
}

.spaceInfo {
	margin: 0.25em 0;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: #696969;
}

.sections {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 0 1em;
}

.sections__p {
	margin: 0.25em 0;
}

.sections__button {
	background: none;
	border: 0;
    border-radius: 0;
    font-size: 1em;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	color: #696969;
}

.sections__button_active {
	background: none;
	border: 0;
    border-radius: 0;
    font-size: 1em;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	font-weight: 500;
	color: #000000;
}

.worksList {
	margin-bottom: 0;
}

.addWork {
	margin: 2em 0 1em !important;
}

.workCard {
	font-size: 1em;
	font-family: "Roboto", "Helvetica", "Arial", sans-serif;
	padding: 0.5em;
	margin: 0.5em 0 0;
}

.workCard__name {
	margin: 0;
}

.workCard__book {
	font-size: 0.8em;
	color: #696969;
	margin: 0.25em 0 0;
}

.workCard__event, .workCard__theme {
	font-size: 0.8em;
	color: #FFF;
	margin: 0.5em 0.25em 0.25em;
	border-radius: 0.5em;
	padding: 0.25em 0.5em;
	display: inline-block;
}

.workCard__event, .workCard__theme {
	background-color: #D32F2F;
}

.workCard__theme {
	background-color: #1976D2;
}

.workCard__comment {
	color: #D32F2F;
	margin: 0;
}

.workCard__panel {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.workCard__edit {
  margin: 0;
  display: flex;
  justify-content: flex-end;
  flex-grow: 1;
  align-items: center;
}

.workCard__button {
  max-width: 1.5em;
  margin: 0 0.5em;
  cursor: pointer;
}

.perform {
	margin: 0.25em 0 0;
	/*font-size: 0.8em;*/
	/*color: #404040;*/
}

.status {
	margin: 0 0 0.5em;
	display: inline-block;
	color: #696969;
	font-size: 0.8em;
	text-decoration: underline;
}

.status1 {
	background-color: #99CCFF !important;
}

.status2, .status3 {
	background-color: #FF6666 !important;
}

.status4, .status5 {
	background-color: #66FF99 !important;
}

.status6 {
	background-color: #999999 !important;
}